<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel = "stylesheet" href = "{{ url_for('static', filename='css/style.css')}}">
</head>
<body>

<div class="navbar">
  <a href="plasma"> PLASMA </a>
  <a href="solid"> SOLID </a>
  <a href="liquid"> LIQUID </a>
  <a href="gas"> GAS </a>
  <a class="active" href="/"> HOME </a> 

</div>

<div class = "body">
  <div class = "container">
  <div style="text-align: center; padding-top: 35px;"><span><img src="static/images/home.jpeg" width = "1000" height="550"/></span></div>
    <p style="font-size: 30px; padding: 0px 80px 0px 80px;color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Matter can change from one state to another when physical conditions change; when energy, such as heat, is added or removed, a substance can change from a solid to a liquid, or from a liquid to a gas. Some substances are rigid and have a fixed shape like wood and stone; some substances can flow and take the shape of their container like water, while there are forms of matter that do not have definite shape or size such as air. In physics, a state of matter is one of the distinct forms in which matter can exist.</p>
</div>

</body>
</html>