<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel = "stylesheet" href = "{{ url_for('static', filename='css/style.css')}}">
</head>
<body>

<div class="navbar">
  <a href="plasma"> PLASMA </a>
  <a class="active" href="solid"> SOLID </a>
  <a href="liquid"> LIQUID </a>
  <a href="gas"> GAS </a>
  <a href="/"> HOME </a> 

</div>

<div class = "container">
  <h1 style="text-align: center;font-size: 50px;">SOLID</h1>
  <div style="text-align: center;"><span><img src="static/images/solid.jpeg" width = "1000" height="500"/></span></div>
  <p style="font-size: 30px; padding: 0px 80px 0px 80px;">&nbsp;&nbsp;&nbsp;&nbsp;Solid is one of the four fundamental states of matter. The molecules in a solid are closely packed together and contain the least amount of kinetic energy. Solid is one of the three main states of matter, along with liquid and gas. Matter is the "stuff" of the universe, the atoms, molecules and ions that make up all physical substances. In a solid, these particles are packed closely together and are not free to move about within the substance.</p>
</div>

</body>
</html>