<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel = "stylesheet" href = "{{ url_for('static', filename='css/style.css')}}">
</head>
<body>

<div class="navbar">
  <a href="plasma"> PLASMA </a>
  <a href="solid"> SOLID </a>
  <a href="liquid"> LIQUID </a>
  <a class="active" href="gas"> GAS </a>
  <a href="/"> HOME </a> 
  
</div>

<div class = "container">
  <h1 style="text-align: center;font-size: 50px;">GAS</h1>
  <div style="text-align: center;"><span><img src="static/images/gas.jpeg" width = "1000" height="500"/></span></div>
  <p style="font-size: 30px; padding: 0px 80px 0px 80px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A gas is a sample of matter that conforms to the shape of a container in which it is held and acquires a uniform density inside the container, even in the presence of gravity and regardless of the amount of substance in the container. If not confined to a container, gaseous matter, also known as vapor, will disperse into space. The term gas is also used in reference to the state, or condition, of matter having this property. </p>
</div>

</body>
</html>
