<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel = "stylesheet" href = "{{ url_for('static', filename='css/style.css')}}">
</head>
<body>

<div class="navbar">
  <a href="plasma"> PLASMA </a>
  <a href="solid"> SOLID </a>
  <a class="active" href="liquid"> LIQUID </a> 
  <a href="gas"> GAS </a>
  <a href="/"> HOME </a> 

</div>

<div class = "container">
  <h1 style="text-align: center;font-size: 50px;">LIQUID</h1>
  <div style="text-align: center;"><span><img src="static/images/liquid.png" width = "1000" height="500"/></span></div>
  <p style="font-size: 30px; padding: 0px 80px 0px 80px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A liquid is one of the states of matter. The particles in a liquid are free to flow, so while a liquid has a definite volume, it does not have a definite shape. Like the particles of a solid, particles in a liquid are subject to intermolecular attraction; however, liquid particles have more space between them, so they are not fixed in position. The attraction between the particles in a liquid keeps the volume of the liquid constant. </p>
</div>

</body>
</html>